*{
    outline: none;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

*::selection{
    color: #fff;
    background-color: #00ffea79;
}

#home{
    background-image:  url("../src/images/background/los-angeles_o.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(18px);
    min-height: 600px;
}

.navbar{
    min-width: 320px;
}


/* style for date input */
input[type="date"]{
    background-color: #17a2b8;
    padding: 5px 27px;
    font-family: "Roboto Mono",monospace;
    color: #ffffff;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 3px;
}

/* style for file button */
input[type="file"]{
    color: #fff;
    width: 300px;
    background-color: #17a2b8;
}

/* style form * text inputs */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="file"],
input[type="date"],
select{
    padding: 5px 10px;
    font-size: 16px;
    overflow: hidden;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 5px 1px;
    transition: all 0.2s;
    min-width: 300px;
}

select option{
    font-size: 16px;
}

input:focus,
select:focus{
    border: 1px solid #17a2b8;
    outline: 3px solid #17a3b8c0;
    background-color: #ffffff;
    color: #333;
}

.form-section{
    width: 50%;
    display: inline-block;
    /* margin: auto; */
}

label{
    display: inline-block;
    font-size: 18px;
    padding-right: 20px;
    font-weight: bold;
}

.txt-ali-c{
    text-align: center;
}

label.txt-ali-c{
    text-align: center;
    padding-right: 7%;
}


input.txt-ali-c:focus{
    text-align: left;
}

.con-ali-c{
    align-content: center;
}

.input-group{
    margin-top: 10px;
    display: inline-block;
    width: auto;
}

.input-group>.form__label{
    display: inline-block;
    background-color: #fff;
    padding: 0 3px;
    margin: 2px 0;
    font-weight: 400;
    min-width: 285px;
    max-height: 30px;
    font-size: 18px;
    color: #6c757d;
    position: absolute;
    cursor: text;
    transform: translate(-290px, 6px);
    transition: 0.15s;
}

.box{
    display: inline-block;
}


.input-group>.form__input:focus~.form__label,
.input-group>.form__input:not(:placeholder-shown)~.form__label{
    color: #17a2b8;
    transform: translate(-300px, -7px);
    font-size: 14px;
}

.input-group>.form__input:not(:placeholder-shown){
    border-color: #17a2b8;
}


.header-description{
    padding: 40px 10vw ;
    position: relative;
    /* background-image: url("../src/images/background/los-angeles_o.jpeg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-title-text{
    font-size: 12vw;
    color: #39ff14;
}

.header-secondary-title{
    font-size: 8vw;
    color: #17a2b8;
}

.text-success{
    color: #39ff14;
}

.bg-success{
    background-color: #39ff14;
}

.header-description-text{
    color: #39ff14;
    font-size: 4vw;

}

.sec-title{
    display: block;
    padding: 5px 0px 0px 5px;
    margin: 5px 0 0 0 ;
    /* color:  hsla(7, 100%, 51%, 0.781); */
    color: #6c757d;
}


input[type="radio"]{
    width: 0;
    height: 0;
    outline: none;
    transform: translate(10px, 5px);
}

.form__label_radio{
    color: #6c757d;
    position: relative;
    width: 140px;
    border: 1px solid #333;
    border-radius: 7px;
    font-weight: 500;
    padding: 3px 25px;
    padding-inline-start: 30px;
    padding-inline-end: auto;
    transform: translate(-0px, -0px);
    transition: all 0.2s ;
    margin: 3px;
}

input[type="radio"]:checked~.form__label_radio{
    color: #17a2b8;
    border-color: #17a2b8;
}

input[type="radio"]:focus~.form__label_radio{
    outline: 3px solid #17a3b8c0;
}

input[type="radio"]~i{
    padding: 5px;
    position: absolute;
    width: 16px;
    height: 17px;
    transition: all 0.2s ;
    border: 2px solid #6c757d;
    transform: translate(-135px, 12px);
}

input[type="radio"]:checked~i{
    transform: rotate(-135deg);
    border: 3px solid #17a2b8;
    border-bottom: none;
    border-right: none;
    width: 10px;
    transform: translate(-133px, 9px)
               rotate(-135deg)
}

.text-color-grey{
    color: #6c757d;
}

.d-bloc{
    display: block;
    margin: auto;
}

.member_info{
    background-color: #17a2b8;
    color: #fff;
    border-radius: 5px;
    padding: 5px 15px;
}

.member{
    padding: 5px 20px;
    border-radius: 5px;
    border: 3px solid #17a2b8;
    margin-bottom: 10px;
}

.success-img{
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
    background: url('../src/images/background/5290058.png');
    background-size: cover;
}

.submited-datas{
    /* width: ; */
    margin: auto;
    color: #09ef54;
    font-weight: 600;
}

.submited-datas tr td{
    font-size: 30px;
}

.submited-datas tr td:first-child{
    padding: 10px 20px;
    text-align: right;
}

.table-title{
    color: #09ef54;
    text-align: center;
}

.err-table-title{
    color: #333;
    text-align: center;
}


.err-submited-datas{
    /* width: ; */
    margin: auto;
    color: #333;
    font-weight: 600;
}

.err-submited-datas tr td{
    font-size: 30px;
}

.err-submited-datas tr td:first-child{
    padding: 10px 20px;
    text-align: right;
}

/* Xurshitdi css si */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Roboto+Flex:opsz,wght@8..144,200&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

.header{
    position: relative;
    width: 100%;
    height: 80vh;
    margin-bottom: 50px;
    background: url(../src/sericeimgs/service-bg.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header .header-title {
    /* background-color: rgb(200, 219, 219); */
    margin-top: 56px;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .header-title h1{
    letter-spacing: 3px;
    font-size: 76px;
    display: inline-block;
    color: rgb(0, 48, 41);
    font-weight: 600;
}

.header .header-title h1 span{
    display: inline-block;
}

.header .service-info{
    position: absolute;
    bottom: 15%;
    right: 0;
    width: 100%;
    height: auto;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header .service-info .item{
    padding-top: 20px;
    width: 270px;
    height: auto;
}

.header .service-info .item a{
    border-radius: 12px;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.4s ease;
    cursor: pointer; 
    background-color: rgba(45, 45, 225);
}
 
.header .service-info .item a:hover{
    opacity: 0.8;
} 


.header .service-info .item h2{
    line-height: 34px;
    color: #fffa;
}
.header .service-info .item .end-item h2{
    font-size: 14px;
}


.header .service-info .item  i{
    font-size: 28px;
    color: #fffa;
}

/* header style end */

/* setion style start*/

.services-about{
    width: 100%;
    height: auto;
    border: 1px solid black;
} 

.services-about .aviakassa {
    position: relative;
    padding-top: 250px;
    padding-left: 50px;
    width: 100%;
    height: 600px;
    background: url(../src/sericeimgs/bg/aviakassa.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.services-about .aviakassa .aviakassa-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    /* background-color: aqua; */
}


.services-about .aviakassa .aviakassa-title h1{
    font-size: 56px;
    font-weight: 800;
    color: #e0dfdc;
    color: #202c2d;
}

.services-about .aviakassa .covid-test{
    position: absolute;
    bottom: 1%;
    left: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.services-about .aviakassa .covid-test h3{
    display: inline-block;
    text-align: center;
    color: rgb(183, 201, 21);
    background: #FFFFFF;
    background-color: transparent;
}

.services-about .aviakassa .covid-test p{
    display: inline-block;
    font-weight: 900;
}

.sim-karta{
    position: relative;
    width: 100%;
    height: 550px;
    background-color: rgb(65, 65, 199);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sim-karta .cards {
    /* border: 1px solid black; */
    margin: 0 auto;
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.sim-karta .sim-years{
    font-size: 34px;
    color: #fff;
}

.sim-karta .card{
    width: 280px;
}

.sim-karta .cards .card img{
    display: inline-block;
    width: 100%;
    transition: 1s ease;
}

.sim-karta .price{
    position: absolute;
    bottom: 2%;
    right: 50px;
}
.sim-karta .price h3{
    color: #fff;
}


.paynet{
    width: 100%;
    height: auto;
    background-color: rgb(163, 212, 241);
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paynet .pay-title{
    /* margin-top: 30px; */
    padding: 25px 0 0 30px;
}

.paynet .pay-title h1{
    font-size: 56px;
    font-weight: 600;
    letter-spacing: 5px;
    color: #081083;
    /* background: #FFFCA8; */
}

.paynet .pay-service-price{
    width: 100%;
    padding: 0 10px;
    height: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.paynet .pay-service-price .narx{
    /* width: 355px; */
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transition: 0.5ms ease;
    
}
.paynet .pay-service-price .narx h2{
    font-size: 34px;
    /* color: #fff; */
}


.paynet .pay-service-price .narx{
    margin: 0 5px;
}

.paynet .pay-service-price .narx h2{
    color:#fff808;
    font-size: 28px;
    /* background: #3cb1db; */
}
.paynet .pay-service-price .narx span{
    color: #fff;
    font-size: 24px;
}

.avto-sugurta{
    width: 100%;
    height: 800px;
    background-color: transparent;
    position: relative;
}

.avto-sugurta .sugurta-title{
    display: inline-block;
    width: 100%;
    height: 120px;
    background-color: #289FED;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avto-sugurta .sugurta-title h1{
    font-weight: 900;
    color: #fff808;
}

.avto-sugurta h2{
    margin-top: 56px;
    text-align: center;
    font-weight: 600;
    font-size: 26px;
}

.avto-sugurta .necessary-documents {
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    padding: 2px 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.avto-sugurta .necessary-documents .item{
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    transition: 0.1s;
}

.avto-sugurta .necessary-documents .item img{
    width: 280px;
}


.avto-sugurta .necessary-documents .item h3{
    color: #5FB8FF;
    font-weight: 800;
    text-align: center;
}

.avto-sugurta .cars {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 280px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.avto-sugurta .cars .o-car,
.avto-sugurta .cars .y-car{
    width: 135px;
    height: auto;
}

.avto-sugurta .cars .o-car img,
.avto-sugurta .cars .y-car img{
    width: 110px;
}

/* section styke end */

@media (max-width:746px){
    .avto-sugurta {
        height: 700px;
    }
}

@media (max-width:746px){
    .header .service-info{
        height: 120px;
        justify-content: space-evenly;
    }
    .header .header-title{
        padding-left: 8px;
    }

    .sim-karta .card{
        width: 250px;
    }
   
}


@media (max-width:630px){
    .header .header-title {
        margin-top: 30px;
    }
    .header .header-title h1{
        font-size: 46px;
    }

    .services-about .aviakassa {
        padding-top: 32px;
    }

    .services-about .aviakassa .aviakassa-title h1{
        font-size: 36px;
    }
    .cards {
        height: 300px;
    }
    .sim-karta .card{
        width: 190px;
    }
    .avto-sugurta .sugurta-title h1{
        font-size: 34px;
    }
} 


@media (max-width:600px) {

    .header .header-title h1{
        font-size: 46px;
    }

    .header .service-info {
        height: 160px;
    }
    .sim-karta .cards {
        height: 220px;
    }
    .sim-karta .card{
        width: 240px;
    }


   
}


@media (max-width:541px){
    .avto-sugurta {
        height: 980px;
    }

    .avto-sugurta .sugurta-title h1{
        font-size: 30px;
    }
    
}



@media (max-width:470px){
    .header .service-info{
        height: 280px;
        justify-content: center;
    }
    .services-about .aviakassa {
        padding-top: 25px;
    }
    .services-about .aviakassa .aviakassa-title {
        margin-top: 60px;
    }

    .services-about .aviakassa .aviakassa-title h1{
        font-size: 32px;
    }
    .sim-karta .cards{
        height: 330px;
    }
    .sim-karta .card {
        width: 175px;
    }

    .paynet .pay-service-price {
        flex-direction: column;
    }

    .avto-sugurta .sugurta-title h1 {
        font-size: 32px;
    }
    .avto-sugurta{
        height: 1000px;
    }
}

@media (max-width:390px){
    .header .header-title {
        padding-left: 10px;
        padding-top: 8px;
    }
    .header .header-title h1{
        font-size: 62px;
        letter-spacing: 6px;
    }

    .header .header-title h1 span{
        display: none;
    }
    .header .service-info {
        height: 280px;
        justify-content: center;
    }
    .header .service-info .item{
        width: 220px;
    } 

    .header .service-info .item h2{
        font-size: 24px;
    }

    .services-about .aviakassa {
        padding-top: 50px;
        padding-left: 10px;
    }

    .services-about .aviakassa .aviakassa-title h1{
        font-size: 32px;
    }

    .sim-karta .cards {
        flex-direction: column;
        height: 450px;
    }

    .sim-karta .card{
        width: 150px;
    }

    .paynet .pay-title h1 {
        font-size: 28px;
    }

    .paynet .pay-service-price{
        flex-direction: column;
    }

    .paynet .pay-service-price .narx {
        width: 320px;
    }

    .paynet .pay-service-price .narx h2{
        font-size: 24px;
    }

    .avto-sugurta .sugurta-title h1{
        font-size: 24px;
    }

    .avto-sugurta {
        height: 980px;
    }

    @media (max-width:281px){
        body{
            overflow-x: scroll;
        }
        .header .header-title h1 {
            font-size: 34px;
        }
        .sim-karta .sim-years{
            font-size: 24px;
        }
        .paynet .pay-service-price .narx{
            width: 100%;
        }
        .paynet .pay-service-price .narx h2{
            font-size: 18px;
        }

        .avto-sugurta .necessary-documents{
            width: auto;
        }

        .avto-sugurta .necessary-documents .item{
            width: 260px;
        }
    
        .avto-sugurta .necessary-documents .item img{
            width: 250px;
        }
    }    
}




::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient( 45deg, rgb(87, 179, 255), rgb(230, 46, 247));
    border-radius: 100px;
}


/* footer style start */
.gbl-footer{
    position: relative;
    width: 100%;
    height: 200px;
    padding: 10px 20px;
    background-color: #000000;
}

.gbl-footer .logo img{
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 20px;
    width: 100px;
}

.gbl-footer .footer-icons{
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.gbl-footer .footer-icons i{
    padding: 20 40px;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 36px;
}

.gbl-footer .footer-icons svg{
    padding: 0 40px;
    /* font-size: 36px; */
}

.gbl-footer .footer-icons i:hover{
    color:#fff;
}

.gbl-footer .footer-links-anket {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 100px;
    height: 25px;
    /* background-color: rgb(48, 99, 0); */
    border-radius: 5px;
}

.gbl-footer .footer-links-anket a{
    text-decoration: none;
    color: #fff;
}

.footer-sub-title{
    /* border: 1px solid #fff; */
    width: 100%;
    height: auto;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.footer-sub-title p{
    color:#fff;
}

@media (max-width:540px){
    
.gbl-footer .logo img{
    display: inline-block;
    top: 18px;
    left: 16px;
    width: 80px;
}
    
}

/* footer style end */